#page{
    height: 7000px;
    width: 100%;
    background-color: black;
}
#top img{
    opacity: 0.45;
 
}
#top{
    position: absolute;
    top: 20px;
    height: 900px;
    width:100%;
}
#logosec{
    height: 100px;
    width: 99%;
    /* border: 5px white solid; */
    position:absolute;
    background-color:black;
    z-index:1;
    opacity:0.8 ;
    filter:brightness(100%);
    filter: contrast(100%);
}
#logosec img{
    filter:brightness(120%);
    filter: contrast(100%);
    filter: saturate(1000%);
    margin-left: 300px;
}
#signin{
    background-color: rgba(255, 0,0,0.8);
    color: white;
    padding: 15px;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:7.5px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
#translate{
    padding: 15px;
    background-color: transparent;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    border-radius:7.5px;
    border: 0.5px white solid;
    border-width: 0.05px;
}
#double{
    display: inline;
    float: right;
    margin-top: 15px;
}
select option{
    border:0.5px white solid;
}
#text{
    height: 700px;
    width:100%;
    position: absolute;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-align: center;
}
#text #pri{
    text-align: center;
    margin-top: 225px;
    font-size:65px;
    height: 150px;
}
#text #pri #extra{
    font-size:30px;
    font-weight: lighter;
}
#text #pri #ex1{
    font-size:25px;
    font-weight: lighter;
}
#top #mail {
    position: absolute;
    top: 650px;
    height: 100px;
    width:100%;
    justify-content: center;
    display:flex;
}
#top #mail #m1{
 padding-right:250px;
 padding-top: 20px;
 padding-bottom: 20px;
 text-align:left;
 background-color: transparent;
 border-radius: 5px;
 border: 2px solid white;
 font-family: 'Times New Roman', Times, serif;
 font-size: medium;
 color:white;
}
input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
}
#top #mail #bt1{
    padding-top: 20px;
   padding-bottom: 20px;
   background-color:red;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   padding-right: 50px;
   padding-left: 50px;
   border-radius: 5px;
}
#hr1{
    position: absolute;
    width: 99%;
    height: 12px;
    background-color:rgba(255,255,255,0.2);
    top:810px;
    border-color: transparent;
}
#card1{
    height: 650px;
    width: 99%;
    position: absolute;
    top: 830px;
}
#card1 img{
    float: right;
    margin-top:110px;
    margin-right: 100px;
}
#card1 p{
    color:white;
    float: left;
    margin-left: 250px;
    margin-top: 150px;
}
#card1 p span{
    font-family: Arial, Helvetica, sans-serif;
}
#card1 p #l1{
   font-size: 60px;
   font-weight:bolder;
   line-height: 2;
}
#card1 p #l2,#l3,#l4
{
    line-height: 1.5;
    font-size: 30px;
   font-weight:lighter; 
}
#hr2{
   
    position: absolute;
    width: 99%;
    height: 12px;
    background-color:rgba(255,255,255,0.2);
    top:1450px;
    border-color: transparent;
}
#card2{
    height: 650px;
    width: 99%;
    position: absolute;
    top: 1470px;
}
#card2 img{
    margin-left: 300px;
    margin-top: 100px;
}
#card2 p{
    color: white;
    float: right;
    margin-top: 150px;
    margin-right:250px ;
    line-height: 2;
} 
 #card2 p #l11,#l12,#l13 {
    font-size: 65px;
    font-weight:bolder;
    line-height: 1;
 }
 #card2 p #l14,#l15{
    line-height: 1.5;
    font-size: 30px;
   font-weight:lighter;   
 } 
#hr3{
    position: absolute;
    width: 99%;
    height: 12px;
    background-color:rgba(255,255,255,0.2);
    top:2100px;
    border-color: transparent;
}
#card3
{
    height: 650px;
    width: 99%;
    position: absolute;
    top: 2120px;
}
#card3 img{
    margin-right: 150px;
    margin-top: 75px;
}
#card3 p{
    color: white;
    margin-left: 300px;
    margin-top: 200px;
}
#card3 p #l21{
    font-size: 65px;
    font-weight:bolder;
    line-height: 2;

}
#card3 p #l22,#l23{
    line-height: 1.5;
    font-size: 30px;
   font-weight:lighter;

}
#hr4{
    position: absolute;
    width: 99%;
    height: 12px;
    background-color:rgba(255,255,255,0.2);
    top:2750px;
    border-color: transparent;
}
#card4
{
    height: 650px;
    width: 99%;
    position: absolute;
    top: 2770px;
}
#card4 img{
    margin-left: 270px;
    margin-top: 75px;
}
#card4 p{
    color:white;
    margin-top: 150px;
    float: right;
    margin-right: 300px;
    line-height: 2;
}
#card4 #l31,#l32
{
    font-size: 65px;
    font-weight:bolder;
    line-height: 1;
}
#card4 #l33,#l34,#l35
{
    line-height: 1.5;
    font-size: 30px;
   font-weight:lighter;
}
#hr5{
    position: absolute;
    width: 99%;
    height: 12px;
    background-color:rgba(255,255,255,0.2);
    top:3410px;
    border-color: transparent;
}


